/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #dc2626;
  --ifm-color-primary-dark: #c52424;
  --ifm-color-primary-darker: #b22222;
  --ifm-color-primary-darkest: #991b1b;
  --ifm-color-primary-light: #e53e3e;
  --ifm-color-primary-lighter: #ea4c4c;
  --ifm-color-primary-lightest: #ef4444;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f87171;
  --ifm-color-primary-dark: #f56565;
  --ifm-color-primary-darker: #f14545;
  --ifm-color-primary-darkest: #e53e3e;
  --ifm-color-primary-light: #fb9090;
  --ifm-color-primary-lighter: #fca5a5;
  --ifm-color-primary-lightest: #fbbaba;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
